{% extends 'flask-admin/base.html' %}
{% from "myadmin3/_macros.html" import language_menu with context %}
{% block nav_control %}
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ admin_view.admin.url }}" class="nav-link">{{ _("Home") }}</a>
        </li>
    </ul>
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="{{_("Search")}}" aria-label="{{_("Search")}}">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
{% endblock %}

{% block access_control %}
    {{ language_menu() }}
{% endblock %}

{% block footer %}
    <div class="float-right d-none d-sm-inline">
        Version 0.1.0
    </div>
    <strong>Copyright &copy; 2022.</strong> All rights reserved. @mariofix
{% endblock footer %}

{% block brand %}
<a href="{{ admin_view.admin.url }}" class="brand-link">
    <img src="{{ adminlte_static.url('dist/img/AdminLTELogo.png') }}" alt="{{ admin_view.admin.name }}" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">{{ admin_view.admin.name }}</span>
</a>
{% endblock %}

{% block user_panel %}
{% if current_user.is_authenticated %}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{{ adminlte_static.url('dist/img/avatar.png') }}" class="img-circle elevation-2" alt="{{ current_user.email }}">
    </div>
    <div class="info">
        <span class="d-block">
            <a href="#" class="d-block">{{ current_user.email }} </a>
        </span>
    </div>
  </div>
{% else %}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="info">
        <span class="d-block">
            <a href="{{ url_for_security('login') }}" class="d-block">{{_("Login")}}</a>
        </span>
    </div>
  </div>
{% endif %}
{% endblock %}
        

    
{% block main_menu %}
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column {% if config.get('FLASK_ADMINLTE_MAV_LEGACY', False) %}nav-legacy{% endif %} nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        {{ adminlte_layout.menu() }}
    </ul>
</nav>
{% endblock main_menu %}